* {
    margin: 0;
    padding: 0;
}

body {
    background: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: "Inter";
}

header {
    background-image: url("images/header-bg.png");
    width: 550px;
    height: 208px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    font-size: 42.7947px;
    letter-spacing: -0.045em;
}

.header-watchlist {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

#search-form {
    position: absolute;
    top: 189px;
    background: #2e2e2f;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-label {
    justify-self: center;
    align-self: center;
    margin: 7px 10px 0px 15px;
}

input#search-text {
    width: 342px;
    height: 38px;
    background: #2e2e2f;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: "Inter";
    color: #a5a5a5;
    outline: none;
}

button#search-btn {
    padding: 9px 11px 9px 17px;
    background: #4b4b4b;
    border-radius: 0px 6px 6px 0px;
    width: 120px;
    height: 38px;
    border: none;
    font-family: "Inter";
    color: #ffffff;
    cursor: pointer;
}

/* main {
    width: 550px;
    background: #121212;
    height: 540px;
} */

.movies {
    width: 550px;
    background: #121212;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 61px 41px;
    box-sizing: border-box;
}

.initial {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.initial > img {
    width: 70px;
    height: 61px;
}

.initial-text {
    margin-top: 9px;
    font-weight: 700;
    font-size: 18px;
    color: #2e2e2f;
}

.not-found {
    font-weight: 700;
    font-size: 18px;
    width: 321px;
    text-align: center;
    color: #787878;
}

.full-height {
    height: 100%;
    overflow-y: auto;
}

.movie {
    display: flex;
    gap: 21px;
}

.movie-poster {
    width: 99px;
    height: 148px;
    border-radius: 2.3px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.detail-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.movie-title {
    font-weight: 500;
    font-size: 18px;
}

.detail-header > img {
    width: 15px;
    height: 15px;
}

.movie-rating {
    font-weight: 400;
    font-size: 12px;
}

.details-main {
    display: flex;
    gap: 18px;
    font-weight: 400;
    font-size: 12px;
    align-items: center;
}

.watchlist-btn {
    background: none;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.movie-description {
    font-weight: 400;
    font-size: 14px;
    color: #a5a5a5;
}

.white-txt {
    color: white;
}

.add-movies {
    margin-top: 15px;
    display: flex;
    gap: 7px;
}

.add-movies > div {
    font-weight: 700;
    font-size: 14px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid black;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}